
/* Nav Bar */
.navbar{
  background-color: white;
}

.nav-link{
  color:#e31fe3 !important;
  font-family: 'Spartan';
  text-transform: uppercase;
  font-size: 0.8rem;

}

/* Section 1 */

.title{
  font-family: 'heygirl' !important;
  }

/* Buttons */

._border_green{
  border: 1px solid #babc18;
}

._btn{
  color: #0084b6;
  background-color: #fcf8f2;
  font-size: 1.25rem;
  font-family: 'Spartan';
  text-transform: uppercase;
}

/* center image */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

/* Model CSS */
.modal-content{
  background-color: #fcf8f2;
  font-family: 'Spartan';
}

.modal-content .em{
  color:#babc18;
}

.modal-header{
  border-bottom: 1px solid #babc18;
}

.modal-footer{
  border-top: 1px solid #babc18;
}