.navbar{
  padding-top: 2%;
  background-color: white;
}

.navbar-brand img{
  width:140px;
  height: 130px;
  }

/* ToDo: Resolve pririority conflicts */
.nav-link{
  color: #e31fe3 !important;
  font-size: 22px;
}

.nav-item{
  color: #e31fe3 !important;
  padding-left: 1%;
  padding-right: 1%;
}

.dropdown-item{
  font-size: 22px;
  color: #e31fe3;
}

.dropdown-menu{
  border: 0ch;
  padding:32px;
}

#sec1{
  color: white !important;
  background-color: #0084b6;
  padding: 5% 5% 5% 15%;
}

#readmore{
  display: flex;
  justify-self: flex-end;
  background-color:#fcf8f2;
  border: none;
  color: #0084b6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.bgimg1{
  background-image: url("../img/background.png");
}